<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="{:url('doedit')}" method="post">
		用户名：<input type="text" name="username" value="{$item['username']}"><br>
		昵称：<input type="text" name="nickname" value="{$item['nickname']}"><br>
		<!-- 角色需要多选 -->
		<!-- 用户与角色是多对多的关系 -->
		角色：
		<select name="role[]" multiple="multiple" size="2" style="height: 100px;">
			{volist name="roles" id="vo"}
			<option value="{$vo.id}"{$vo.selected}>{$vo.role_name}</option>
			{/volist}
		</select>
		<input type="submit" value="提交">
	</form>
</body>
</html>